@{
    ViewBag.Title = "";
}
<h3>@ViewBag.Message</h3>

<address>
    Costa Rica, Heredia, Belén<br />
    Av 1, Frente al centro recreativo ANDE<br />
    <abbr title="Teléfono">P:</abbr>
    +506 40801729
</address>

<address>
    <strong>Correo:</strong>   <a href="mailto:creciendojuntoscentroad@gmail.com">creciendojuntoscentroad@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/creciendojuntosad/">Facebook</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/centro_creciendo_juntos/?igshid=5zea9kkpdxxr">Instagram</a><br />
    <strong>Whatsapp:</strong> <a href="https://wa.me/50686957159">Whatsapp</a><br />
</address>